python-dateutil>=1.5
jsonschema>=0.7
confluent-kafka>=0.9.1.2
kafka-python==0.9.4
mysqlclient>=1.3.7
pygments>=1.5
pykafka>=2.1.0
PyYAML>=3.10
pyzmq>=2.1
sqlalchemy>=0.7
statsd>=3.0
tornado>=4.0
sprockets.mixins.statsd>=1.3.1
